/*
    Document   : styles.scss
    Created on : 2014-05-12 06:34 AM
    Author     : kmacsparran
    Description:
    Purpose of the stylesheet follows.
*/
/* Begin font styles */
/* End font styles */
/* Begin document defaults */
body {
  font-family: "Open Sans", arial, sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 100%;
  line-height: 1.2;
  color: #d4d4d4;
  background: #6e6e6e;
}

/* End document defaults */
/* Begin document structural sections */
.cell {
  display: table-cell;
  vertical-align: top;
  text-align: left;
  background-color: rgba(8, 8, 8, 0.5);
  border-width: 1px;
  border-style: solid;
  border-color: #d4d4d4;
  border-radius: 0.5em;
  border-spacing: 1em;
  padding: 1em;
}

.features {
  display: none;
}

main {
  display: table;
  border-spacing: 1em;
}

form {
  position: relative;
  padding: 0;
  font-size: 100%;
}

label {
  font-size: 0.75em;
  position: absolute;
  width: auto;
  left: 0;
}

input {
  display: block;
  font-size: 100%;
  margin: 1em 0 2.25em;
  padding: 0.5em;
  border-width: 0;
  border-collapse: collapse;
  border-radius: 0.5em;
  width: 10em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input:last-of-type {
  margin-bottom: 0;
}

section p {
  margin: 0;
  padding: 0 0 1em;
}

section p:last-child {
  padding-bottom: 0;
}

/* End document structural sections */
.active {
  -webkit-transition: z-index 1s, opacity 1s, -webkit-transform 1s;
  transition: z-index 1s, opacity 1s, transform 1s;
}

.invisible {
  opacity: 0;
  -webkit-transform: translatey(0);
  -ms-transform: translatey(0);
  transform: translatey(0);
  z-index: -1;
}

.visible {
  opacity: 1;
  -webkit-transform: translatey(-1.25em);
  -ms-transform: translatey(-1.25em);
  transform: translatey(-1.25em);
  z-index: 1;
}
